<div class="row">
  <div class='col-md-8 col-xs-12'>
    <h1>Teams</h1>
    <div class='team-list container'>
    </div>
  </div>
  <div class='col-md-4 col-xs-12'>
    <h1> New Team </h1>
    <%= render 'form', team: Team.new %>
  </div>
</div>
